.file-upload-options {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.file-upload-options button {
  margin: 0 15px;
  padding: 15px 30px;
  font-size: 18px;
  color: #fff;
  background-color: #113c60;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.file-upload-options button:hover {
  background-color: #0a2a40;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.file-upload-options button:active {
  transform: translateY(0);
}
