.chart-title {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  background-color: #32373a /* Adjust font size as needed */
}

.indexLabel {
  font-family: "Montserrat", sans-serif;
  font-weight: 600; /* Use semi-bold for labels */
}
