.upload-file-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.upload-file-container input[type='file'] {
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #bbb;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.upload-file-container input[type='file']:focus {
  border-color: #113c60;
  outline: none;
}

.upload-file-container button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #113c60;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.upload-file-container button:hover {
  background-color: #0a2a40;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
