.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #939393;
  padding: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.info-label {
  font-weight: bold;
}

.info-value {
  color: #555;
}
