.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif; /* Use Montserrat for index labels */
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333; /* Dark color for text */
}

.info-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  gap: 10px; /* Space between items */
}

.info-item {
  display: flex;
  justify-content: space-between; /* Align label and value on opposite sides */
  padding: 10px;
  border: 1px solid #ccc; /* Light border */
  border-radius: 4px;
  background-color: #f9f9f9; /* Light background for items */
}

.info-label {
  font-weight: bold; /* Bold label for clarity */
}

.info-value {
  color: #555; /* Color for the value */
}
